<nav>
  <div class="nav-wrapper purple">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Peeps', peeps_path %></li>
    </ul>
  </div>
</nav>